VITE_WEB_ORIGIN=http://localhost:3000
VITE_DOCS_ORIGIN=http://localhost:3001
VITE_API_ORIGIN=http://localhost:3002

WEB_ORIGIN=http://localhost:3000
DOCS_ORIGIN=http://localhost:3001
API_ORIGIN=http://localhost:3002
