.omx/
node_modules
.DS_Store
.env
.env.*
!.env.example
.turbo

apps/**/node_modules
packages/**/node_modules
packages/**/dist
packages/**/.turbo
apps/**/.tanstack
apps/**/.source
apps/**/.nitro
apps/**/.output
apps/**/.cache
apps/**/.vercel
apps/**/dist
apps/desktop/src-tauri/target
apps/desktop/src-tauri/gen
apps/api/drizzle
apps/api/*.db
apps/api/*.db-shm
apps/api/*.db-wal

*.tsbuildinfo
